<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Browser Test Page</title>
    <link rel = "stylesheet" type = "text/css" href = "/css/express.css">
  </head>
  <body>
    <p> <a href = "/">Home</a> | <a href = "/About">About</a> </p>
    {{{body}}}
  </body>
</html>
