<h3>Settings</h3>

<h3>Only show birds that have been seen this many times:</h3>
<form method="POST" action="">
  <input type="text" name="minVal" placeholder={{minVal}}>
  <br>
  <input type="submit" value = "Set it!">
</form>


<p><a href = "/birds">(Back to Birds)</a></p>
