<form method = 'POST' action = '' >
  Name: <input type = 'text' name = 'listName'>
  <br>
  <br>
  <!-- Created By: <input type = 'text' name = 'createdBy'>
  <br>
  <br> -->
  <input type = 'submit' value = 'Create New Grocery List'>
</form>
