{{message}}
<form method = "POST" action = "">
  Username: <input type = 'text' name = 'username'>
  <br>
  <br>
  Password: <input type = 'password' name = 'password'>
  <br>
  <br>
  <input type = 'submit' value = 'Register'>
  <br>
  <br>
  Already have an account? <a href = 'login'>Login</a>.
</form>
